.sm-bot-chat {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: white;
}

.sm-bot-bot-message {
  text-align: left;
}

.sm-bot-bot-message::before {
  content: 'bot: ';
}

.sm-bot-operator-message {
  text-align: left;
}

.sm-bot-operator-message::before {
  content: 'operator: ';
}

.sm-bot-visitor-message {
  text-align: right;
}
